/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ae9cff;
  color: rgb(41, 7, 134);
  transition: 500ms;
}
.sup{
 position: absolute;
 top: 15%;
 font-size: 50px;
 letter-spacing: 10px;
 font-weight: 900;
 text-transform: uppercase;
 text-overflow: ellipsis;
}
a{
  text-decoration: none;
  color: #fff;
}
::selection{
  color: #fff;
  background: #4D59FB;
}
.row{
  display: flex;
  width: 100%;
}
.row button{
  font-weight: lighter;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(1%, 5%);
  margin: .3rem;
  transition: 500ms;
}
.row button:hover{
  transform: translateX(1.5px);
}

.wrapper{
  width: 420px;
  border-radius: 7px;
  background: #fff;
  padding: 25px 28px 45px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  transition: 1500ms;
}

.wrap{
  transition: 1500ms;
  width: 420px;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: #fff;
  padding: 25px 28px 45px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.263);
}
.wrap:hover{
  transform: translateY(40px);
  padding: 25px 28px 40px;
}
.project{
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #ae9cff;
  margin: .5rem;
  color: #fff;
  padding: 15px;
  transition: 500ms;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.191);
}
.project  a{
  color: #989898;
}
.project:hover{
  background-color: rgba(41, 7, 134, 0.604);
  transform: translateX(15px);
}
.project1{
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #ae9cff;
  margin: 1rem;
  font-size: 4vmin;
  color: #fff;
  padding: 5px 20px;
  transition: 500ms;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.191);
}
.project1:hover{
  box-shadow: -7px -7px 10px rgba(0, 0, 0, 0.155);
  background-color: rgba(41, 7, 134, 0.604);
  transform: translateX(2px);
}
.wrapper header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.wrapper:hover{
  transform: translateY(-40px);
  padding: 25px 28px 40px;
}
.wrapper .search{
  position: relative;
  margin: 35px 0 18px;
}
.search input{
  height: 53px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 42px;
  border: 1px solid #999;
}
.search input:focus{
  padding: 0 41px;
  border: 2px solid #4D59FB;
}
.search input::placeholder{
  color: #B8B8B8;
}
.search :where(i, span){
  position: absolute;
  top: 50%;
  color: #999;
  transform: translateY(-50%);
}
.search i{
  left: 18px;
  pointer-events: none;
  font-size: 16px;
}
.search input:focus ~ i{
  color: #4D59FB;
}
.search span{
  right: 15px;
  cursor: pointer;
  font-size: 18px;
  display: none;
}
.search input:valid ~ span{
  display: block;
}
.wrapper .info-text{
  font-size: 13px;
  color: #9A9A9A;
  margin: -3px 0 -10px;
}
.wrapper.active .info-text{
  display: none;
}
.info-text span{
  font-weight: 500;
}
.wrapper ul{
  height: 0;
  opacity: 0;
  padding-right: 1px;
  overflow-y: hidden;
  transition: all 0.2s ease;
}
.wrapper.active ul{
  opacity: 1;
  height: 303px;
}
.wrapper ul li{
  display: flex;
  list-style: none;
  margin-bottom: 14px;
  align-items: center;
  padding-bottom: 17px;
  border-bottom: 1px solid #D9D9D9;
  justify-content: space-between;
}
ul li:last-child{
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
ul .word p{
  font-size: 22px;
  font-weight: 500;
}
ul .word span{
  font-size: 12px;
  color: #989898;
}
ul .word i{
  color: #999;
  font-size: 15px;
  cursor: pointer;
}
ul .content{
  max-height: 215px;
  overflow-y: auto;
}
ul .content::-webkit-scrollbar{
  width: 0px;
}
.content li .details{
  padding-left: 10px;
  border-radius: 4px 0 0 4px;
  border-left: 3px solid #4D59FB;
}
.content li p{
  font-size: 17px;
  font-weight: 500;
}
.content li span{
  font-size: 15px;
  color: #7E7E7E;
}
.content .synonyms .list{
  display: flex;
  flex-wrap: wrap;
}
.content .synonyms span{
  cursor: pointer;
  margin-right: 5px;
  text-decoration: underline;
}

form {
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  color: rgb(41, 7, 134);
}

label {
  font-size: 17px;
  padding: 3px;
  font-weight: lighter;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  margin: 4px 0;
  color: #8d7ed2;
  border: none;
  outline: none;
  border-bottom: 3px solid #ae9cff;
}
:focus{
  border: none;
  border-bottom: 3px solid rgb(41, 7, 134);
}

p {
  font-size: 20px;
  text-align: center;
}
button{
  padding: 20px 70px;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #ae9cff;
  border-radius: 10px;
  border: none;
  display: flex;
  /* transform: translate(40%, 20%); */
  justify-content: center;
  transition: 500ms;
}
button:hover {
  background-color: rgb(41, 7, 134);
  transform: translateY(5px);
}
#showUser{
  text-transform: capitalize;
  font-weight: 500;
}